<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/adminRestaurantes.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Racing+Sans+One&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
      <h1>ANDROID FOOD</h1>
      <p>O FOOD MAIS ANDROID DOS FOODS DO ANDROID</p>
    </header>


    {% if restaurantes == false %}
        <p>Nenhum restaurante cadastrado no sistema</p>
    {% else %}
        <div class="buttons">
        {% for restaurante in restaurantes %}
            <a href="{{ url_for('relatorio_restaurante_admin',pk = restaurante[0]) }}"><button>{{restaurante[1]}}</button></a>
        {% endfor %}
        </div>
    {% endif %}
</body>
</html>