<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Racing+Sans+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <h1>ANDROID FOOD</h1>
      <p>O FOOD MAIS ANDROID DOS FOODS DO ANDROID</p>
    </header>

    {% if login %} {# caso o usuario já esteja logado#}
      <p>Você já está logado.</p>
      <p>Clique <a href="{{ url_for('index')}}">aqui</a> para voltar a página inicial</p>
    {% else %}
      {% if falha %} {# Se houver falha #}
        <p>Login inválido</p>
      {% endif %} {# Login #}
      <form method="post" action="{{ url_for(type_login) }}">
        <p><label for="email">Email: </label></p>
        <p><input type="text" id="email" name="email"></p>
        <p><label for="senha">Senha: </label></p>
        <p><input type="password" id="senha" name="senha"></p>
        <p><input type="submit" value="Entrar"></p>
      </form>
    {% endif %}
  </body>
</html>
