<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}" >
  </head>
  <body>
    {% if login %}
      <p>Você já está logado.</p>
      <p>Clique <a href="{{ url_for('index')}}">aqui</a> para voltar a página inicial</p>
    {% else %}
      {% if falha %}
        <p>Login inválido</p>
      {% endif %}
      <form method="post" action="{{ url_for('login') }}">
        <p><label for="email">Email: </label></p>
        <p><input type="text" id="email" name="email"></p>
        <p><label for="senha">Senha: </label></p>
        <p><input type="password" id="senha" name="senha"></p>
        <p><input type="submit" value="Entrar"></p>
      </form>
    {% endif %}
  </body>
</html>
