<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Administrativo</title>
</head>
<body>
    <button><a href="{{ url_for('logout') }}">Logout</a></button>
</body>
</html>