<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{nome}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/restaurante.css') }}" >
  </head>
  <body>
    <header class="header">
    
    </header>
    
    
    {% if pedidos[0] is none %}
      <section class="pedidos">
        <p>Nenhum pedido</p>
      </section>
    {% else %}
      <section class="pedidos">
        {% for pedido in pedidos%}
        <div class="pedido">
          <p class="id">ID pedido: {{ pedido["pk"] }}</p>
          <p class="valor">Valor: R$:{{ pedido["valor"] }}</p>
          <p class="criacao">Criação: {{ pedido["criacao"] }}</p>
          <p class="status">Status: {{ pedido["status"] }}</p>
          {% if pedido["status"] == "criado" %}
            <button><a href="{{ url_for('aceitar', pk=pedido['pk']) }}">Aceitar</a></button>
            <button><a href="{{ url_for('rejeitar', pk=pedido['pk']) }}">Rejeitar</a></button>
          {% elif pedido["status"] == "aceito" %}
            <button><a href="{{ url_for('entrega', pk=pedido['pk']) }}">Saiu para a entrega</a></button>
          {% elif pedido["status"] == "saiu para a entrega" %}
            <button><a href="{{ url_for('entregue', pk=pedido['pk']) }}">Entregue</a></button>
          {% endif %}
        </div>
        {% endfor %}
      </section>
    {% endif %}
    <button><a href="{{ url_for('relatorio') }}">Relatório</a></button>
    <button><a href="{{ url_for('logout') }}">Logout</a></button>

    <footer class="footer">
    
    </footer>
  </body>
</html>
