<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{nome}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/restaurante.css') }}" >
  </head>
  <body>
    {% if pedidos[0] is none %}
      <p>Nenhum pedido</p>
    {% else %}
      {% for pedido in pedidos%}
       <div class="pedidos">
        <p>ID pedido: {{ pedido["pk"] }}</p>
        <p>Valor: R$:{{ pedido["valor"] }}</p>
        <p>Criação: {{ pedido["criacao"] }}</p>
        <p>Status: {{ pedido["status"] }}</p>
        {% if pedido["status"] == "criado" %}
          <button><a href="{{ url_for('aceitar', pk=pedido['pk']) }}">Aceitar</a></button>
          <button><a href="{{ url_for('rejeitar', pk=pedido['pk']) }}">Rejeitar</a></button>
        {% elif pedido["status"] == "aceito" %}
          <button><a href="{{ url_for('entrega', pk=pedido['pk']) }}">Saiu para a entrega</a></button>
        {% elif pedido["status"] == "saiu para a entrega" %}
          <button><a href="{{ url_for('entregue', pk=pedido['pk']) }}">Entregue</a></button>
        {% endif %}
        <hr>
       </div>
      {% endfor %}
    {% endif %}
    <button><a href="{{ url_for('relatorio') }}">Relatório</a></button>
    <button><a href="{{ url_for('logout') }}">Logout</a></button>
  </body>
</html>
